.container {
    background-color: violet;
    width: fit-content;
    padding: 1em;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    gap: 2em;
}

.container h3 {
    color: white;
    text-align: center;
}


#home-counter, #guest-counter {
    background-color: black;
    color: red;
    display: block;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 5px;
    font-size: 32px;
}

.container button {
    background-color: violet;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}